@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
@import url(http://fonts.googleapis.com/css?family=Bitter);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans);
@font-face { font-family: ChaparralPro; src: url('ChaparralPro-Regular.otf'); } 

@normal-gray: #454545;
@lighter-gray : #858585;
@damn-orange: #ffb720;
@readmore-orange: #ff8400;
@darkgray-bg: #808080;
@footer-gray: #949485;

#container {
    width: 850px;
    margin:1em auto;
} 

body {
    background-image: url('/images/bg.jpg');
    font-family: 'Noto Sans';
    color: @normal-gray;
}


a {
	color: @damn-orange;
  	text-decoration:none;
   	&:link {
    	text-decoration: none;
  	}
	&:hover {
		text-decoration: underline;
	}
}
#container {
    width: 850px;
    margin:1em auto;
} 

#page-header {
	
	a {
	color: @normal-gray;
  	text-decoration:none;
   	&:link {
    	text-decoration: none;
  	}
}

	
  float: left;
  clear: left;
  height: 200px;
  width: 100%;
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-position: top left;
  width: 846px;
  height: 149px;
  font-family: Bitter;
  color: @lighter-gray;
  position: relative;
  nav {
    color: @normal-gray;
    position: absolute;
    margin: 110px 0 0 70px;
    ul li {
      display: inline;
    }
    li + li{
      background: url('/images/separator.png') no-repeat left;
      padding: 10px;
    }
    a {
      font-family: 'Noto Sans';
      font-weight: bold;
      font-size: 14px;
		color: @normal-gray;
		&:hover {
			text-decoration: none;
		}
    }
  }
}

#slogan {
    font-size:18px;
    float: left;
    clear: none;
    margin: 60px 0 0 180px;
}

#contact {
    font-size: 20px;
    float:right;
    float:clear;
    text-align: right;
    margin-top: 50px;

}

#contact a {
    font-size:18px;
}

#contact img {
    margin-right: 8px;
}

#phone {
    font-size: 20px;
    font-family: Bitter;
}

#slider {
    display:none;
    float: left;
    img {
        display: none;
    }
}

#whatwhywho {
  clear:both;
  article {
    padding: 3px;
    display: table-cell;
  }
  header {   
    display: block;
    font-family: 'Alegreya Sans';
    background-color: @darkgray-bg; 
    color:#f1b12b;
    padding: 3px 5px;
    font-size:1.9em;
    font-weight: bold;
  }
  .readmore {
    color: #fcb55c;
    font-size: 1.2em;
  }
}

#howcanhelp header {
    display: block;
    background-color: @darkgray-bg; 
    color:#f1b12b;
    padding: 3px 5px;
    font-size:1.9em;
    font-weight: bold;
}

.little-header {
    margin: 10px;
    color: #8f8f82;
    font-family: Bitter;
    text-align: center;
}

#howcanhelp {
  article {
    display: table-row;
  }
  figure {
      padding: 5px;
      display: table-cell;
      font-size: 0.75em;
  }
	a {
		color: @normal-gray;
	}
}

#page-footer {
    text-align: center;
    font-family: Serif;
    color: @footer-gray;
}

.treatment {
  clear:left;
  margin-bottom: 10px;
	.content {
		display:block;
	}
}

.readmore {
	color: @damn-orange;
	&:hover {
		text-decoration: underline;
	}
}


.content {
    img {
        margin-right: 10px;
        margin-botton: 8px
        float: left;
        clear: left;
    }
    h1{
        font-family: 'Alegreya Sans';
        font-size: 34px;
        color: @damn-orange;
    }
    h2 {
        font-family: 'Noto Sans';
        font-size: 24px;
        color: @damn-orange;
        font-weight:bold;
    }
    h3 {
        margin-bottom: 0px;
        color: @damn-orange;
    }
    
    li {
      	list-style-position: inside;
    }
}



.goleft {
  float: left;
  clear: left;
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  margin : 5px;
  display: inline;
}

