---
layout: default
---
h1 Babies
article.entrytext
  p(dir='ltr')
    img.goleft(src='/images/Infants.jpg', alt='Infants', width='160', height='123')
    | The powerful process of birth has enormous affect on the baby.
    br
    | Some babies cope extremely well with quite severe retained moulding and compression, and are contented
    br
    | and happy. For others it is a different story, and they can display a variety of problems
    br
    | There is a small amount of movement that exists in the infant skull to permit the baby’s head to adapt to the forces of labour. The infants head may not fully recover from the distortion of a
    br
    | forceps or suction delivery, a caesarean section, a slow labour or simply a natural birth. This may cause compression of any one of the skull bones and the cranial nerves. There are 12 cranial nerves responsible for vital functions in the body such as digestion, peristalsis (muscle contraction in the gut), smell, taste, sucking, chewing, vision and balance.
  p(dir='ltr')
    | An osteopathic check-up following the birth can help pin-point potential problems and helps to ease the dramatic transition from life inside the womb to the outside world. This initial adjustment involves many bodily systems such as breathing and digestion. Stresses and strains from the labour or pregnancy can lead to:
  ul
    li unsettled behaviour
    li difficulties with feeding,
    li stiff or wry neck ,
    li reflux ,colic
    li sleeping disturbances
    li Ear infections
    li Constipation
  p
    strong Could my child suffer an adverse reaction to osteopathy?
    br Often, after treatment, the baby or child is very relaxed and sleeps well. Others have a burst of energy, and then have a good night’s sleep. Occasionally children feel unsettled, but this is a temporary situation that happens when mechanical changes are occurring, and only lasts for a day or two.
  p
    strong At what age should my child be treated?
    br
    | Children of any age can benefit from osteopathy. It is never too early to start, and for best results treatment should begin before the age of five. Osteopathic treatment using the cranial approach is gentle and safe. Very specific, skilled, light touch is applied where necessary to assist the natural ability of the body to release stresses and tensions.
