---
title: Techniques
layout: default

---
h1 Back Pains
article.entrytext
  p
    img.goleft(alt='Back-Pains', src='/images/Back-Pains.jpg')
    | Back pain is most common in the lower back, although it can be felt anywhere along your spine, from the neck down to the hips. Each presentation may have a variety of different causes. A large number of pains or sensations (such as tingling, pins and needles or numbness) that are exhibited in the legs and arms may be caused by neck and back problems. These all require detailed examination and diagnosis.
    br
    strong
      br
      | What causes Back Pain?
    br
    | In most cases back pain is caused by a minor injury or a strain, rather than anything more serious, and can be referred to as ‘simple back pain’. The symptoms often occur suddenly and can be triggered by a particular movement, but the causes may have been building for some time.
    br
    strong
      br
      | Some of the most common causes of stress and strain on the spine include:
  ul
    li Bad posture
    li Being overweight
    li Being unfit
    li Slouching in chairs
    li Driving in hunched positions
    li Unsupportive mattress or pillow
    li Standing, sitting or bending down for long periods of time
    li
      | Lifting, carrying, pushing or pulling loads that are too heavy, or performing these tasks incorrectly
    li A trip or fall
    li Stress or anxiety
    li Generally overdoing it
  p
    | Using manual techniques, osteopaths examine the whole body to identify sources of pain and restricted movement that may indicate injury or impaired function, Osteopathic treatment can be particularly successful in easing the symptoms of back pain and neck ache, and appropriate mobilisation has been shown in clinical trials to be more effective than just using painkillers, and results in a faster return to normal activity than rest or exercise alone.
  p
    strong
      | An osteopath may also advise a patient on techniques for avoiding and relieving furure episodes of back pain, including:
  ul
    li Proper posture
    li Exercise and stretching
    li Proper lifting techniques
    li Diet
    li Stress management
    li Workplace ergonomics
