---
layout: default
title: Digestive Disorders
---
h1 Digestive Disorders
article.entrytext
    img.goleft(src='/images/Digestive-System.jpg', alt='Digestive-System')
    | Digestive Disorders range from specific organic disease right through the spectrum to minor functional disturbances.
    br
    | Having problems with your digestive system can cause a lot of unpleasant symptoms, including constipation, nausea, diarrhoea, acid reflux, abdominal cramping, bloating, gas, hiatus hernia, fatigue, sleep disturbances and gallbladder troubles.
  p
    | Prescription of medications can help to relieve the symptoms but Instead of just masking the problem, it’s better to find the cause of the problem and work towards correcting it discomfort and digestive symptoms can be coused by previous disease or chornic disease like :…..
  p
    | and like the rest of your body, your organs can also suffer trauma. Falls car accidents and other injuries can affect your organs – even if it doesn’t appear that the organ itself is injured. problems of the digestive tract can manifest as pain elsewhere in the body. For example a hiatus hernia or gall-bladder problem may present as back or shoulder pain
  p
    | There can be compression, adhesion or strain on the ligaments and supportive connective tissue around the organs. Logically this can cause discomfort and irritability of the bowel. An Osteopath may be able to help you to relieve tensions caused by movement restrictions of the organs by visceral manipulation and by improving spinal mobility and balance neurological input therefore aiding to gut peristalsis.
  p
    | Osteopaths are taught to try and work on the actual gut and all the factors that contribute to its overall health by improving nerve supply and blood circulation by balancing the musculoskeletal system and specially the spine
