---
layout: default
title: Faq
nav: FAQ
order: 6
---
h1 FAQ
p
	a(href='#1') What should I expect on my first Osteopathic treatment?
	br
	a(href='#2') Who can benefit from Osteopathic treatment?
	br
	a(href='#3') How many Osteopathic treatments will be needed?
	br
	a(href='#4') Is Osteopathic treatment painfull?
	br
	a(href='#5') What should I wear to my appointment?
	br
	a(href='#6') Do you recommend therapeutic exercises?
	br
	a(href='#7') What should I do following Osteopathic treatment sessions?
	br
	a(href='#8') How long does an Osteopathic treatment last?
	br
	a(href='#9') What should I expect after a treatment?  And are there any side-effects?
	br
	a(href='#10') Can osteopathy help improve my sports performance?
	br
	a(href='#11') Is osteopathy suitable for children and infants?
p
	a(name='1')
	h3 What should I expect on my first Osteopathic treatment?
	| The first visit to see the osteopath will last about an hour. A full medical history will be taken and important information about the patient’s lifestyle and diet will also be discussed.  Then the Osteopath will perform a postural examination and look for asymetric changes in your body, assessing specific areas of tension in your body.  As necessary, the Osteopath will perfom orthopedic and medical examination for any pathologic condition.  Afterwards, the Osteopath will perfom osteopathic tests to determine the cause of the pain or complaint.
p
	a(name='2')
	h3 Who can benefit from Osteopathic treatment?
	| Everyone can benefit from Osteopathic treatment.  Osteopathy is effectice for all people of all ages, from infants to the elderly.  Osteopathy is equally beneficial to athletes (whether professional or armature), individuals with problems stemming from a sedentary job or life style, those exposed to occupational hazards, and to people suffering from a wide range of traumas.  Osteopathy is very useful in supporting the pregnancy process, relieving pain and discomfort during this time period.  It is also beneficial following childbirth.
p
	a(name='3')
	h3 How many Osteopathic treatments will be needed?
	| There is no standard answer to this question. Every patient is seen as an individual and recommendations made after initial consultation are entirely based on the assessment and the professional opinion of the osteopath. Often the patient notices positive changes within three treatment sessions. The average number of recommended sessions is quoted as 2-8. Some patients with a chronic or longstanding history may choose to return regularly for preventative osteopathic intervention for ongoing postural maintenance or relief from chronic pain
p
	a(name='4')
	h3 Is Osteopathic treatment painfull?
	| No.  All techniques are performed gently and pain-free.  My approach to the treatment is to respect the body and trust the inner wisdom of the body.  Pain is a sign for me that the body is resisting my attempted correction.   I will use another method or focus on other parts of the body.
p
	a(name='5')
	h3 What should I wear to my appointment?
	| Wear comfortable, loose fitting clothing, or bring some with you, when possible. For women, pants are preferred. Please refrain from perfumes and strong fragrances.
p
	a(name='6')
	h3 Do you recommend therapeutic exercises?
	| Yes. As an Osteopath, I recognize the importance of therapeutic exercise in healing and commonly recommends home exercise programs. Participating in an exercise program is often a crucial factor in a patient’s ability to realize their fullest healing potential.
p
	a(name='7')
	h3 What should I do following Osteopathic treatment sessions?
	| Although one may feel good after a treatment session (perhaps better than one has felt for years), the body remains in a vulnerable state for several hours. It is best to let the body rest and heal. Though the body has been restored to an improved state of functioning, it has not yet healed. Healing takes time. The body should be treated with respect. One must avoid any strenuous activity for 24 hours.  Eat light meals so your body’s energy is used for healing rather than for digestive purposes.
p
	a(name='8')
	h3 How long does an Osteopathic treatment last?
	| The first meeting includes examination and case history for diagnostic purposes and lasts for one hour.  Afterwards, every treatment lasts 45 minutes.
p
	a(name='9')
	h3 What should I expect after a treatment?  And are there any side-effects?
	| Typically, patients feel very relaxed and peaceful after a treatment. Occasionally patients experience one or two days of feeling tired or mildly sore. This is normal and can indicate that the treatment process is continuing. These symptoms typically are mild and respond easily to conservative measures such as heat, rest, and fluids. In the unlikely event that they are severe or persistent, we recommend that you contact our office or the covering physician
p
	a(name='10')
	h3 Can osteopathy help improve my sports performance?
	| Yes. Because our treatment improves the mechanics of joints, muscles and ligaments, many sports people who visit us notice a significant improvement in their performance. If you become injured, we can help to speed up your recovery time using various techniques such as ultrasound, electrotherapy and medical acupuncture. And, after we’ve corrected your injury, we can design a rehabilitation programme to reduce the risk of the injury reoccurring.
p
	a(name='11')
	h3 Is osteopathy suitable for children and infants?
	| Yes – everyone can benefit from our treatment, no matter what their age. The techniques we use on children and infants are very different to those we use on adults: because children are very delicate, we adapt our treatment to suit the needs of the young body. We regularly treat babies and children effectively for various problems, and if you would like to talk to us about cranial osteopathy to find out more then please get in touch. You can also find out more about Infants Osteopathy &nbsp;
	a(href='/babies.html', title='Babies') here
	| .
