---
layout: default
title: Head
---
h1 Head
article.entrytext
  p(dir='ltr')
    img.goleft(src='images/Head.jpg')
    | Most people have suffered a headache at one point or another in their life Headaches affect us all. Some are just a minor annoyance, while others can take you out of commission for hours. Not only can the pain intensity vary, but also the area affected and the type of pain.
    br
    | Because headaches are so common, some people think they are a normal part of life, but for the regular sufferer it can be very debilitating. Taking painkillers might give some relief from your headaches, but they do not always address the cause of the problem
  p
    | There is no single cause for headaches and, while they are painful and annoying, the majority of headaches do not indicate that there is a serious problem.
    br
    | There are many potential causes of headaches like illness, high blood pressure, dental problems, side effects from medication, etc. However, a vastly underestimated cause of headaches is structural problems in the neck and upper back. Mechanical stress from neck problems can affect the nerves of the face, head and neck and when the spinal nerves and associated tissues are stretched or irritated, they too produce throbbing headaches.
  h2 Headaches can be categorised into one of two groups.  These are:
  p
    strong primary headaches
    | , which are not caused by an underlying condition. They can be a symptom of stress, eyestrain, fatigue, poor posture, neck muscle tension, or restricted neck joints for example. Examples of primary headaches are cervicogenic (from the neck), muscular tension-type headaches and migraines.
  p
    strong secondary headaches
    | , which are caused by an underlying condition. The causes of headaches are wide and varied, so treatment must be individualised. One common type of headache is caused by restrictions in the joints of the neck and back.
    br
    | Nerves that exit the spinal column can become irritated referring pain to the base of the skull, top of the head, and behind the eyes. This may occur as a result of neck injury such as whiplash, postural problems, stress and compensatory change. All of these issues can be treated effectively with osteopathy, thereby getting rid of the headache for good.
  p
    | Osteopaths assess structural changes that may lead to immobility and dysfunction, they do a thorough physical examination that includes both observation and palpation, to form a diagnosis.
  h2 An Osteopath will work gently with your body using a variety of techniques to:
  ul
    li Improve joint mobility.
    li Decrease muscular tension.
    li Reduce nerve irritation.
    li Improve blood supply and drainage to and from the head and neck.
    li Help prevent future headaches with advice on posture, exercises and stretching.
    li Give advice on diet and fluid intake.
    li Provide advice on improving ergonomics at both home and in the workplace.