---
title: Oren Dotan - Osteopathy
layout: default
nav: Home
url: /
order: 1
slides: ['all-types.jpg', 'effective.jpg', 'gentle.jpg', 'improve.jpg', 'supportive.jpg', 'treatment.jpg']
---
section#headline
	#slider(class="cycle-slideshow")
		each slide in document.slides
			img(src='/images/homepage/slideshow/' + slide)
	script.
		$(function(){$("#slider").slidesjs();});
	img#banner(src='/images/homepage/banner.jpg')
section#whatwhywho
	article.ofthree
		header WHAT
		p Osteopathy is a form of manual medicine which recognizes the important link between the structure of the body and the way it functions. It focuses on the interconnection between the musculo-skeletal system (especially the spinal column) and the neurological, vascular, lymphatic and inner-organ interactions.
		a.readmore(title='What is Osteopathy?', href='/what-is-osteopathy.html') Read More
	article.ofthree 
		header WHY
		p Osteopathic manual practitioners use safe, gentle and precise techniques to restore motion. Its main doctrine is based on the concept that all body parts operate together in an integrated manner. If a single body part is restricted due to illness or injury, other body systems will adjust their operation to compensate for this. This could lead to pain, stiffness or inflammation in these other body systems.
		a.readmore(title='Treatments', href='/treatments.html') Read More
	article.ofthree
		header WHO
		p Mr Oren Dotan D.O is a Fully Registered Osteopath, who has been in private practice since 2001. Through this experience, plus extensive post-graduate study with the osteopaths from france ,Russia and England Oren has developed his own unique approach to diagnosis and treatment combining the more traditional manipulative osteopathic techniques with the more subtle and gentle techniques known as “cranial osteopathy”.
		a.readmore(title='About', href='/about.html') Read More
section#howcanhelp
	header How Can Osteopathy Help You?
	p.little-header If you suffer from pain and/or discomfort in the following areas:

	mixin canhelp(caption, image, url)
		figure
			if url
				a(title=caption, href=url)
					img(alt=caption, src='/images/homepage/' + image)
					br 
					figcaption
							p= caption
			else
				img(alt=caption, src='/images/homepage/' + image)
				br 
				figcaption
						p= caption

	article
		+canhelp('Sciatica', 'Lower-back.jpg', 'sciatica.html')
		+canhelp('Back Pains', 'Neck.jpg', 'back-pains.html')
		+canhelp('Sport Injuries', 'Knees-.jpg', 'sports-injuries.html')
		+canhelp('Headaches / Migraines', 'Headaches-.jpg', 'head.html')
		+canhelp('Digestive Disorders', 'Digestive-.jpg', 'digestive-disorders.html')
		+canhelp('Pregnancy', 'Pragnancy.jpg', 'pregnancy.html')
		+canhelp('Breathing Disorders', 'Respiratory.jpg', '')
		+canhelp('Babies', 'babies.jpg', 'babies.html');