---
layout: default
---
h1 Pregnancy
article.entrytext
  p
      img.goleft(src='/images/Pregnancy.jpg', alt='Pregnancy')
    | During pregnancy, your body undergoes tremendous change to accommodate the growing fetus. Apart from the obvious physical changes like expansion of the abdominal region, hormonal releases can affect the function of your body’s internal systems
  p
    | As your pregnancy progresses, the extra weight creates a shift in your body’s centre of gravity. Your supporting ligaments also soften to allows the bones of the pelvis to separate slightly during the delivery to facilitate the passage of the baby’s head through the pelvis.
  p
    | Unfortunately this softening affects the whole body and makes it more vulnerable to strain during the pregnancy.  These factors can add stress to your body, causing problems like back pain, sciatica, insomnia, shortness of breath, swelling, high blood pressure and fatigue.
  p
    | An important part of preparation for childbirth is to ensure that the mother’s pelvis is structurally balanced and able to allow the passage of the baby down the birth canal. Increased tension in muscles, and strains within the ligaments and bones of the pelvis can
    br
    | be caused by. Trauma to the pelvic bones, coccyx or sacrum at any time in a mother’s life.
  p
    | Conditions like this can limit the ability of these bones to separate and move out of the way during labour, and thus limit the size of the pelvic outlet.
  p
    | Osteopathic treatment during and after pregnancy can be beneficial in a number of ways:
  ul
    li Easing some of the physical discomforts of pregnancy
    li Preparing for the demands of labour
    li Helping the mother to recover after birth
  h2 Is Osteopathy safe during Pregnancy?
  p
    | Gentle osteopathic techniques are safe at all stages of pregnancy. However due to the delicate nature of pregnancy during weeks 12 and 16 treatment is avoided or heavily modified for those weeks
  h2  How Treatment Can Help After Childbirth
  p
    | Depending on the type of labour experienced, women can have a wide range of issues postnatally. Osteopathic care can help to restore and maintain normal pelvic alignment and mobility and therefore, taking away any pain and discomfort they may be feeling. If you have unresolved childbirth stresses from labour, these can contribute not only to ongoing back problems, but also to difficulties with menstruation, stress incontinence, and bowel problems such as constipation.
  p
    | Caring for your new baby is a very physically and mentally demanding task. Your body has had to recover from the postural changes made during pregnancy but also the effects of delivery.
  p
    | Reaching over a cot, nursing in poor positions, lifting and carrying your baby on one hip can place enormous strain on the back and other parts of the body.
  p
    | Osteopathic treatment after childbirth is recommended to ensure that the mother returns to normal, physically and emotionally. This will allow her to relax and enjoy her new baby.
  p
    | Osteopathic treatment is gentle and non intrusive , its releases restrictions and tension within the pelvis which can help to give the best chance of an easy and uncomplicated labour and to help the mother’s body to recover after birth.
