---
title: Sciatica
layout: default
---
h2 What is Sciatica?
img.goleft(src='images/sciatica.jpg')
| Sciatica refers to pain that runs along the sciatic nerve. The pain usually affects only one side of the lower body at a time and often extends from the lower back all the way through the back of the thigh, down through the leg. Occasionally the pain may also extend to the foot or toes. It is often a reoccurring condition that seems to worsen with every episode. One of the most common causes of sciatica is a lumbar (lower back) disc bulge. This occurs when part of the disc begins to protrude and press on to a nerve root exiting the vertebral column, sending pain along that nerve root to the back, buttock and/or leg. Depending on the site of the nerve impingement, you may also experience numbness, tingling or weakness.
h2 What are the symptoms of Sciatica?
ul
	li Buttock, hamstring and/or calf pain that is worse when sitting
	li Lower back pain that is worse for coughing or sneezing
	li Weakness, numbness or difficulty moving the leg or foot
	li Burning or tingling down the leg
	li A shooting pain that makes it difficult to stand up
	li Pain may be persistent or come in spasms
	li What causes sciatica
h2 Sciatica can be caused by a number of conditions that irritate or compress the sciatic nerve.
ul
	li 
		strong Trauma
		| -  a sports injury or fall can fracture the spine or tear a muscle and damage nerves
	strong Herniated disc
	| - strong the gel-like center of a spinal disc can bulge or rupture through a weak area in the disc wall and compress nerves.
	li 
		strong Stenosis
		| - narrowing of the bony canals in the spine can compress the spinal cords and sciatica nerves.
	li 
		strong Spondylolisthesis
		| - A weakness or stress fracture in the facet joints can allow a vertebra to slip out of position and pinch the nerves.
p You can have more risk of developing sciatica if your job requires you to lift heavy objects or sit for long hours. Aging and diabetes are also risk factors. With aging, the spinal discs deteriorate gradually. Diabetes can also increase the risk of nerve damage.
h2 How is Sciatica treated?
p Osteopathy has an essential role both for the acute episode as well as long term avoidance of further episodes. The most common type of sciatica that we encounter responds well to osteopathic treatment, which consists of relieving pressure and inflammation off the sciatic nerve. Typical sciatica treatments include:
ul
	li Gentle Spinal mobilisation of the lower lumbar spine
	li Release of muscle spasm.
	li Traction of Lumbar spine manually
	li Gently articulating the affected joints.
	li Rehabilitation exercises.