---
layout: default
title: Sports Injuries
---
h1 Sports injuries
article.entrytext
	p
		img.goleft(src='/images/Ortopedic-Injuries.jpg')
	| Whether you are an enthusiastic amateur, an elite professional, a gym junkie or simply like to keep fit, sports injuries do occur.Sports injuries can develop under many different circumstances.
	br
	Acute injuries can be instantaneous and chronic can develop over a period of time These may include joint stiffness or hypermobility, postural imbalance, muscle weakness / imbalance, core weakness or muscle tightness (hypertonicity. Whatever the type of injury, there are usually a few contributing factors. Issues such as joint dysfunction or soft-tissue restrictions limit the body’s ability to function correctly, directly affecting the degree of performance and may even result in further injury.
	h2 Common Sport Injuries Osteopathy Can Help:
	ul(dir='ltr')
		li Achilles Tendon Injuries
		li Back Pain (lumbar or thoracic pain)
		li Biceps Tendonitis
		li Constant Knee Problems
		li Frozen Shoulder
		li Foot Pain
		li Hip Pain
		li Injuries That Don’t Go Away
		li Persistent Hamstring or Calf Strains
		li Running Injuries
		li Recurring Achilles Problems
		li Repetitive Strain Injury (RSI)
		li Sciatica
		li Sprained Ankle and Other Sprains
		li Tennis Elbow or Golfer’s Elbow
		li Wrist Injuries
	p  Osteopathic treatment is aimed at the whole body so rather than only focusing on the site of pain or discomfort we look at the whole, for example a shoulder injury may develop because of stiffness in the upper back (thoracic spine and ribcage). Due to reduced mobility in the back, the tendons may overstretch to compensate which may lead to a rotator cuff injury. . Osteopathy can help by improving joint mobility, reducing adhesions and soft-tissue restrictions, resulting in structural balance and restored movement leading to enhanced performance.
