---
title: Techniques
layout: default
nav: Techniques
order: 4
---
.content
	h1  Techniques
	blockquote
		| “Treatment is not simply readjustment of bones, but applying the touch that sets free the chemicals of life as nature designed.”
		br
		| -Andrew Taylor Still
	p As an Osteopath I focus primarily on 3 methods of reading the body: Cranial, Visceral & Structural.   For each problem I examine the connection between these three approaches and how they manifest within the body.  Our bodies exist as one integrated and complex system.   To find a correction, I must look at all the connections behind the complaint and understand how the body compensates itself to the point of its current state.
	h2 Cranial Osteopathy
	p Cranial Osteopathy was developed by Dr. William Garner Sutherland in the early 20th Century.  It is a refined and subtle type of Osteopathic treatment that uses very gentle manipulative pressure to encourage and release the stress throughout the body.  The pressure is done mainly on the skull and at times at other parts of the body: spine, sacrum, etc. The Craniosacral system consist  of the membranes and fluid that surround and support the brain and spinal cord.
	p
		img.goleft(src='/images/falx.jpg')
		| It extends from the bones of the head (cranium) down to the bones at the base of the spine (sacrum).  The fluid within the membranes is continuously draining and refilling.  The filling and draining creates, rhythmic, expanding and contracting movements that can be felt anywhere in the body by the trained Osteopath.   These subtle and intrinsic movements are the craniosacral rhythm.  They occur at a rate of about six to twelve complete cycles per minute.
	p The cranial rhythm has a very important physiological role in the transfer of fluid in the body and the integrity of the fascia system.   The Osteopath feels where the movement of the fluid is disrupted and restores the movement back.  This relieves tension and stress that was in the tissue and improves the self-healing mechanisms of the body.
	h2 Visceral Osteopathy
	p
		img.goleft(src='/images/visceral.jpg')
		| Visceral Osteopathy is the treatment of internal organs: digestive tract, respiratory system and reproductive system and is one part of an over-all osteopathic philosophy, but focused on treating ‘visceral’ or organ problems that may cause pain or problems of the spine or joints in other parts of the body. It may also be used as part of treating local visceral problems such as slow bowels.
		br
		| An integrative approach to evaluation and treatment of a patient requires assessment of the structural relationships between the viscera, and their fascial or ligamentous attachments to the musculoskeletal system. Strains in the connective tissue of the viscera can result from surgical scars, adhesions, illness, posture or injury. Tension patterns form through the fascial network deep within the body, creating a cascade of effects far from their sources for which the body will have to compensate. This creates fixed, abnormal points of tension that the body must move around, and this chronic irritation gives way to functional and structural problems.
		br
		| Imagine an adhesion around the lungs. It would create a modified axis that demands abnormal accommodations from nearby body structures. For example, the adhesion could alter rib motion, which could then create imbalanced forces on the vertebral column and, with time, possibly develop a dysfunctional relationship with other structures. This scenario highlights just one of hundreds of possible ramifications of a small dysfunction – magnified by thousands of repetitions each day.
		br
		| Visceral Manipulation relies on the palpation of normal and abnormal forces within the body. By using specific techniques, Osteopaths can evaluate how abnormal forces interplay, overlap and affect the normal body forces at work. The goal is to help the body’s normal forces remove abnormal effects, whatever their sources. Those effects can be global, encompassing many areas of bodily function
	h2 Structural Osteopathy
	p
		img.goleft(src='/images/structural.jpg')
		| The Osteopath views the function of the body in a direct relationship with the integrity of its structure.  With lack of movement due to trauma, diseases, postural imbalance or other factors, it’s function will be effected locally and globally.
	p
		| . A dysfunction of a joint or tissue, generally characterized by a decrease in mobility and tightness, will affect the biomechanics and overall function of that area. As a result more strain will be put on the surrounding structures which have to compensate. With time and chronicity, the increased stress resulting from the change in function will progressively cause a restriction of the compensating structure
	p
		| In structural Osteopathy, the Osteopath diagnoses and treats the musculo-skeletal system through a number of techniques:
	p
		strong Thrust Technique
		| – In this form of manipulation, the physician applies a high velocity/low amplitude thrust to restore specific joint motion.  With such a technique, the joint regains its normal range of motion and position, reattaining its postural balance and resetting its  neural reflexes.
	p
		strong Muscle Energy Technique
		| – In this manual technique the patient is directed to use his or her muscles from a precise position and in a specific direction against a counterforce applied by the physician.  The purpose is to restore motion, decrease muscle/tissue changes and modify asymmetry of somatic dysfunction.
	p
		strong Strain / Counterstrain
		| – The counterstrain technique is a manual procedure in which the patient is moved passively away from the restricted motion barrier, towards the position of greatest comfort.  At this point, passive, asymptomatic strain is induced.  This technique is used for relief of somatic dysfunctions that are too acute of too delicate to treat with other procedures.
	p
		strong Lymphatic Technique
		| – This manual procedure is designed to promote circulation of the lymphatic fluids and through this the Osteopath helps to support and strengthen the body’s self-healing mechanism.
	p
		strong Fascial Technique
		| – Fascia is a thin connective tissue that covers all the organs in the body.  It covers every muscle and fiber in the body.  The role of the fascia is to provide support and protection for all parts of the body.  This gentle technique  aims at restoring elasticity and function of the fascia system.  Myofascial Release is a safe and very effective hands-on technique that involves applying gentle sustained pressure and  streching into the Myofascial connective tissue restrictions to eliminate pain and restore motion.  Trauma, inflammatory responses, and/or surgical procedures create Myofascial restrictions that can produce tensions throughout the body.
	p
		| d and subtle type of Osteopathic treatment that uses very gentle manipulative pressure to encourage and release the stress throughout the body.  The pressure is done mainly on the skull and at times at other parts of the body: spine, sacrum, etc. The Craniosacral system consist  of the membranes and fluid that surround and support the brain and spinal cord.
