---
layout: default
title: Testimonies
nav: Testimonies
order: 5
---
h1 Testimonies

blockquote
		header Letter from Deniz Ünal,İstanbul
		p
			| My knees had been hurting for two years when I met Oren. I had been to two orthopedists in one of the best hospitals in İstanbul. They have given me medicine, exercises, and a list of do’s and don’ts. All of these efforts led to slight improvements, but did not provide a radical solution. The aching came back whenever I stopped making efforts. A friend suggested that I consult Oren. I thought I had nothing to lose and gave it a try. Honestly, I wasn’t expecting a miracle, but after two appointments the hurting of my knees was gone. It’s now been seven months, and I still do not have any problems with my knees. The impressive thing about this treatment is not what Oren does, it’s how he listens to the body and how he interprets it.
		footer
			cite
				br
				| Deniz Ünal, age 34 :)), İstanbul
				br
	blockquote
		header Letter from Romano Galic,Munich
		p
			| Dear Oren,
			br
			| thanks to your gentle treatments I do not have my digestive disorders anymore and you helped me to stop my snoring.
			br
			| You succeded what other doctors could not manage with all their equipment and pills.
			br
			| Thank you so much for helping me and improving my health and well-being and I hope,
			br
			| we will soon meet again.
		footer
			cite
				br
				| Kind regards
				br
				| Romano, MUNICH
				br
	blockquote
		header Letter from Erwin Schuster‏,Munich
		p
			| I had a fall with my wrist and could not make push-ups and no yoga. In the treatment I showed Oren, that I am not able making pushups. He examined me and found the cause in a spot above my right ear. He treated me at this point and immedeatly I could do push-ups again.  (Oren is simply the best)
			img.wp-smiley(src='http://osteo-oren.com/wp-includes/images/smilies/icon_smile.gif', alt=':-)')
		footer
			cite
				br
				| best regards
				br
				| Erwin Schuster‏, Munich
				br
	blockquote
		header Letter from Anat
		p
			| Two years ago, I started experiencing pains in my left knee. I think it started because of exercise. I am overweight and started running and maybe it was too much for the pressure on the knee joints…
		p
			| The Doctor said I have inflammation and gave me pills (arcoxia). However, the pills effect disappeared as quickly as it came and I the pain resumed. As the weeks went by, I started having trouble in walking for more the 10-20, minutes. The pain would grow unbearable and I would have to sit for a few hours waiting for it to calm down.
		p
			| I remember a trip to Amsterdam in this period where window-shopping around town became a torturing experience … The CT scan revealed a beginning of degenerative process in the knee. It got me depressed since I was only 42 at the time and thinking of what is waiting for me ahead was somewhat scary. Of course, I knew I needed to lose weight (still do…) but it is not so easy for a candy lover like me. Overall things were looking not so good…. Then I heard about Oren from a friend. It turns out a friend recommended to a friend who recommended to a friend.
		p
			| All of them with all sorts of problems like breathing and coughing problem or different kinds of back pains or inflammations. To all of which Oren managed to help within a few sessions. Some of them were carrying the problems for years. One of them even said the problem persisted since 3rd grade and he really tried everything before he arrived to Oren.
		p
			| So although a bit skeptic, since the Doctor drew a very black picture about my future, I decided to try… Well as you can guess (or I wouldn’t have volunteered to share my experience) It was much beyond my expectations! First, I must say that Oren is a very attentive and sensitive therapist. Only hearing his silent and relaxed voice already starts healing you. It also seems that he has a vast knowledge about the human body and his craft and knows exactly what he is doing.
		p
			| The moment I lay on the therapy bed, he diagnosed my problem accurately and confirmed my suspicions about other imbalances in my body. Then he started the treatment. Although he tried to explain the process of it to me, I don’t really understand until now how he does it, but it seemed to work, so I leave it to him… The way the treatment went was that he pressed an area in my body like my leg and it would really hurt.
		p
			| Then he would do some manipulation on another area that he said was the source of the cramp\tension etc… Like magic, the next time he touched the original spot the place was not sensitive any more. The whole session lasted close to an hour after which I felt very tired like after a hard day of labor on a construction site. From that, I understood that meaningful changes were taking place inside my body. It took another 2 meetings on a weekly basis to cure the problem. For me it was as if the unbelievable had happened because I really gave up hope by that time.
			br
			| So from a condition were I had already started to develop a small unnoticeable limp went to almost 100% OK ! After about 6 months of suffering within 3 weeks, all the pains disappeared. Up until today, my knee is OK and I do not feel pain. Therefore, I can say it was a long-term solution (in contrary to the pills). After the treatment with Oren, I was able to start doing exercise to strengthen the knee muscle area so this helps me maintain the knee condition.
			br
			| So overall bottom line from my personal experience I highly recommend Oren.
		footer
			cite
				br
				| Anat
				br
