---
title:  Treatments
layout: default
nav: What Osteopathy Treats
order: 3
---
mixin treatment(title, image, url)
	.treatment
		a(title=title,href=url)
			div.goleft
				img(src='images/'+image, alt=title)
		.content
			a(title=title,href=url)
				h2= title
			if block
				block
			a(title=title,href=url)
				p.readmore Read More....
h1 Treatments
+treatment('Sciatica', 'sciatica.jpg', '/sciatica.html')
	| Tennis elbow, Frozen shoulder, Carpal tna syndrome, Plantar fasciitis.

+treatment('Back Pains', 'Back-Pains.jpg', '/back-pains.html')
	| Lower Back Pain, Neck & Upper Back Paint, Sciatica, Trapped Nerves, Joint Pain / Dysfunction – wrists, elbows, hips, knees, ankles, etc… Occupational Strain, Whiplash, Arthritic Pain, Frozen shoulder, Sports Injuries, Postural Problems.

+treatment('Sports injuries', 'Ortopedic-Injuries.jpg', href='/sports-injuries.html')
	| Tennis elbow, Frozen shoulder, Carpal tna syndrome, Plantar fasciitis.

+treatment('Head', 'Head.jpg', '/head.html')
	| Headaches, Migraine, Dizziness, Head Injury After Trauma.

+treatment('Digestive Disorders', 'Digestive-System.jpg', '/digestive-disorders.html')
	| Constipation, Diarrhea, Stomach Pain, Heartburn, Chron’s Disease
	br
	| Ulcers, Irritable Bowel Syndrome, Hiatus Hernia.
+treatment('Pregnancy', 'Pregnancy.jpg', '/pregnancy.html')
	| Preparation, Lower Back Pain, Sciatica, Heartburn, Nausea & Vomiting.

+treatment('E.N.T. (Ears, Nose, Throat)', 'E.N.T.jpg', '/ent.html')
	| Chronic Ear Infection, Sinusitis, Chronic Throat Infection, Common Cold.

+treatment('Babies', 'Infants.jpg', '/babies.html')
	| Sucking or feeding difficulties, Digestive Problem, Ear Infections, Disturbed sleep, Wry neck, (torticollis), Colic, Unsettled Baby.
+treatment('Gynecological Problems', 'Gynecological-Problems.jpg', '/treatments/pregnancy.html')
	| Menstrual Pain, Irregular Menstruation.

+treatment('Breathing Disorders', 'Pulmonary-System.jpg', '/pulmonary-system.html')
	| Asthma, Allergies, Bronchitis.

p
	| Osteopathic manual practitioners use safe, gentle and precise techniques to restore motion, . Its main doctrine is based on the concept that all body parts operate together in an integrated manner. If a single body part is restricted due to illness or injury, other body systems will adjust their operation to compensate for this. This could lead to pain, stiffness or inflammation in these other body systems. Osteopathy helps to
	br
	| alleviate strain, reduce pain, restore a restful state to promote healing and bring the body into a healthy balance.
p
	| Osteopathic philosophy views the body as a living, biological and integrated functioning organism. Osteopathy also recognizes that the body is a dynamic form that is intimately integrated with a life force that expresses our vitality and zest for life.
	br
	| Osteopathy is uniquely positioned to understand the body in a modern medical perspective and yet offer a natural alternative to pain relief without using pills or needles. The holistic approach of osteopathy is unparalleled.
