---
layout: default
title: About
nav: About
order: 2
---
h1 About
p
	| Mr Oren Dotan D.O is a Fully Registered Osteopath, who has been in private practice since 2001. Through this experience, plus extensive post-graduate study with the osteopaths from france ,Russia and England Oren has developed his own unique approach to diagnosis and  treatment combining the more traditional manipulative osteopathic techniques with the more subtle and gentle techniques known as “cranial osteopathy”.
p
	| He runs his own successful osteopathic practice in Israel and Europe. In recent years he has devised and taught numerous courses and workshops on advanced soft tissue manipulation and integrative  craniosacral seminars.
h2 What is Osteopathy?
p
	| Osteopathy is a form of manual medicine which recognizes the important link between the structure of the body and the way it functions.  It focuses on the interconnection between the musculo-skeletal system (especially the spinal column) and the neurological, vascular,  lymphatic and inner-organ interactions.
	br
	| Osteopathy and orthodox medicine are both based on anatomy and physiology.  In this regards they implement a similar medical language, coming from the same scientific background and using the same methods of investigation.  However, the orthodox medical approach treats the immediate symptoms and the end product of the problem while Osteopathy focuses on tracing the changes that have occurred over a period of time.   The Osteopath tries to understand the history and the chain of events that have altered the  relationship between structure and function, leading up the present problem
h2 History
p
	| Osteopathy was founded by Andrew Taylor Still, an American physician. Still was disillusioned with the orthodox medicines of the time. He had been an Army surgeon in the American Civil War and subsequently lost most of his children to infectious diseases.   During this period he sought for some additional piece of the puzzle which could help his patients recover more quickly.   In 1892, he founded the first school of osteopathy, the American School of Osteopathy (now known as the A. T. Still University), in Kirksville, Missouri. The first osteopathic college outside the USA, the British School of Osteopathy, was founded by a Scottish medical practitioner who had been a student of Still’s, Dr. Martin Littlejohn. Osteopathy then spread to British colonies, particularly Australia and New Zealand. Today osteopathy is practised in many countries in Europe and beyond.
h2 Principles
p
	img.goleft(src='images/1.jpg')
	strong 
		| The first principle is that the human body is a unit: it is an integrated organism with no part functioning independently.
	br
	| Abnormal structure or function in one part of the body exerts negative influences on the other parts, and consequently on the body as a whole.  The human body is not a machine composed of individual parts but rather should be thought of as a complex interrelated community of organs and systems, each dependent upon the other, and each contributing to the other.   In this balance each member compensates  with the others in order to meet the constant demands of internal and external stress.
p
	img.goleft(src='/images/2.jpg')
	strong
		| The second principle states the body possesses self regulating mechanisms and has the ability for self-healing when faced with stress and disease.
	br
	| Through a complex system of internal checks and balances the body adapts itself through the ever changing demands of its internal and external environment.  Osteopaths recognize that the state of health and illness are not opposed conditions and that the body is constantly resting in between these states.   This ability to fluctuate and adapt to stress determines the degree and state of its own health.  When some disorder within the body disrupts its adaptability or when some sort of trauma disturbs the equilibrium, illness and disease take over.
p
	img.goleft(src='/images/3.jpg')
	strong The third principle states the “Rule of the Artery” is Supreme.
	br
	| When blood and lymphatics flow freely, the tissues can perform their physiologic functions without impedance. With the occurrence of trauma (physical or emotional), the tissues contract, twist, and compress. The fluid flow becomes obstructed. Micro-climates of underperfusion result, and are considered to be a significant contributor to the onset of disease. Osteopathic manipulation restores freedom in the tissues, normalizes fluid flow and thus inherent physiologic function (healing) follows.
p
	img.goleft(src='/images/4.jpg')
	strong The fourth principle states that structure and function are inter-related.
	br
	| From the smallest cell to the largest bone, all of anatomy is  in constant dynamic and rhythmic motion. Blood flows, lymphatics drain and cerebral spinal fluid fluctuates. The heart beats and the ribcage expands and contracts with each respiration. Each and every organ gently moves as it functions. Each and every structure has its own inherent rhythmic activity. This is the living anatomy that the osteopath feels with their hands. When this motion becomes impaired, the tissues will not function as they were intended. As a result of this altered motion, symptoms develop, and disease may even occur. Dr. Still described this process in the following way, “Disease is the result of anatomical abnormalities followed by physiologic discord.”
	br
	| Dr. Still described the body as being like a machine. It has interrelated parts that need to be in proper position and to move correctly for optimal function. For example, taking a deep breath may be difficult if the ribs, diaphragm or parts of the spine do not move well. When breathing is impaired, lymphatic drainage (necessary for clearing congestion and inflammation) will also be impaired. This may lead to the development of asthma or respiratory infections.
p
	blockquote
		| “Sickness is an effect caused by the stoppage of some supply of fluid…”
		br
		| -A.T. Still, M.D.
