doctype 5
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7(lang="en")
//if IE 7
	html.no-js.lt-ie9.lt-ie8(lang="en")
//if IE 8
	html.no-js.lt-ie9(lang="en")
//if gt IE 8
	html.no-js(lang="en")
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	title
		|Your title here.
	meta(name="description", content="")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	//Place favicon.ico and apple-touch-icon.png in the root directory
	!= getBlock('meta').add(site.meta).toHTML()
	!= getBlock("styles").add(site.styles).toHTML()
	script(src="js/vendor/modernizr-2.6.2.min.js")
body
	//if lt IE 7
		p.browsehappy
			|You are using an 
			strong
				|outdated browser
			|. Please 
			a(href="http://browsehappy.com/")
				|upgrade your browser
			|to improve your experience.
	#container
		#page-header
			#slogan Osteopathic Clinic  &amp; <br> Integrative  Craniosacral Courses
			#contact
				#phone +972 (0) 50 634-8250 <br>
				a(href="https://www.facebook.com/pages/Oren-Dotan-Osteopath/214069488650198")
					img(src="/images/f.png") 
					| Oren Dotan Osteopath
			nav
				ul
					- var navitems = getCollection('documents').findAll({nav : { $exists : true}})
					- navitems.comparator = function(item) {return item.get('order')}
					- navitems = navitems.sort().toJSON()
					each doc in navitems
						li(data=doc.order)
							a(href=doc.url) 
								!= doc.nav
		article.content
			!= content
		footer#page-footer
			hr
			i &quot;Osteopathy embraces the interplay of structural organizing dynamics and metabolic activities that give rise to functioning. It recognizes the inherent wisdom and intelligence within every cell.&quot; (A.T. Still)
		// Google Analytics: change UA-XXXXX-X to be your sites ID.
		script.
			window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
		!= getBlock('scripts').add(site.scripts, {defer:false}).toHTML()
		script.
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
